{{#if modelLoaded}}
    {{#with model}}
        <div class="panel panel-default" style="margin-top: 25px">
            <div class="panel-body">
                <h1 style="margin:0px;">Search Results</h1>
                <p>Page {{page}} of {{totalPages}}</p>
                <p>Go to the {{#link-to 'detailedSearch'}}Detailed Search{{/link-to}} to modify your search.</p>
                {{#if results.length}}
                    <p><a {{bind-attr href=csv}} target="_blank">Download as CSV</a></p>
                {{/if}}
            </div>
            <div class="list-group">
                {{#if results.length}}
                    {{#each results}}
                        {{#link-to 'event' this classNames="list-group-item"}}
                            <div class="container-fluid">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <h3 style="font-size: 18px; margin: 0px;">
                                        {{event-title event=event}}
                                    </h3>
                                    {{#if timestamp}}
                                        <p style="font-size: 10px; margin: 0px; color: #AAA;">{{format-date timestamp}}</p>
                                    {{/if}}
                                    {{#if subject}}
                                        <i><p class="truncate" style="font-size: 14px; margin-top: 5px; margin-bottom: 0px; font-weight: bold;">{{subject}}</p></i>
                                    {{/if}}
                                    {{#if email}}
                                        <p class="truncate" style="font-size: 14px; margin: 0px;">{{email}}</p>
                                    {{/if}}
                                    {{#if url}}
                                        <p class="truncate" style="font-size: 14px; margin-top: 5px; margin-bottom: 0px;">{{url}}</p>
                                    {{/if}}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs visible-sm visible-md visible-lg">
                                    {{#if category}}
                                        <p style="margin: 0px; font-weight: bold">Categories:</p>
                                        <ul>
                                            {{#each categoryList}}
                                                <li>{{this}}</li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                    {{#if hasAdditionalArguments}}
                                        <p style="margin: 0px; font-weight: bold;">Additional Arguments</p>
                                        <ul>
                                            {{#each additionalArgumentList}}
                                                <li><strong>{{key}}:</strong> {{value}}</li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </div>
                            </div>
                        {{/link-to}}
                    {{/each}}
                {{else}}
                    <div class="list-group-item">
                        <h3 style="font-size: 18px; margin: 0px;">
                            No results.
                        </h3>
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if results.length}}
            <div style="text-align: center; margin: auto;">
                <ul class="pagination">
                    {{#each pages}}
                        <li>{{#link-to 'detailedSearchResults' (query-params p=page)}}{{display}}{{/link-to}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        <h1>&nbsp;</h1>
    {{/with}}
{{/if}}