<div class="panel panel-default" style="margin-top: 25px">
    <div class="panel-body">
        <h1 style="margin:0px;">Detailed Search</h1>
        <p style="margin-top: 0px;">Add filters below to narrow down your search:</p>
        <form id="detailedSearchParams" class="form-inline" role="form" style="margin-bottom: 15px" {{action "submitSearch" on="submit"}}>
            {{#each this}}
                <div class="form-group filter-row">
                    <label class="col-sm-2 control-label" style="width: 170px; text-align: right; margin-top: 8px;">{{name}}</label>
                    {{#if additional_arguments}}
                        {{input value=key class="form-control form-argument-field" placeholder="Argument Key" type="text" name=name_key}}
                        {{input value=val class="form-control form-argument-field" placeholder="Argument Value" type="text" name=name_val}}
                    {{else}}
                        {{#if dateStart}}
                            {{input value=val class="form-control form-field init-date-picker" placeholder="Date Start" type="text" name=id}}
                        {{else}}
                            {{#if dateEnd}}
                                {{input value=val class="form-control form-field init-date-picker" placeholder="Date End" type="text" name=id}}
                            {{else}}
                                {{input value=val class="form-control form-field" placeholder=name type="text" name=id}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                    <button type="button" class="btn btn-danger" {{action "removeFilter" this}}>Remove Filter</button>                        
                </div>
            {{/each}}
        </form>
        
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Add Filter <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id="add_filter_menu">
                {{#each allFilters}}
                    <li><a {{action "addFilter" this}}>{{name}}</a></li>
                {{/each}}
            </ul>
        </div>

        <button type="button" class="btn btn-success" {{action "submitSearch"}}>Search</button>
    </div>
</div>