<h1>Dashboard</h1>
<p>Welcome to the SendGrid Event Webhook Starter Kit. Use the search box below to start searching your logs.</p>

<div class="panel panel-info recent-events" style="margin-top: 25px;">
    <div class="panel-heading">
        Most Recent Events
    </div>
    <div class="list-group" style="overflow-y: auto; height: 275px;">
        {{#if model.recent.length}}
            {{#each model.recent}}
                {{#link-to 'event' this classNames="list-group-item"}}
                    <h3 style="font-size: 18px; margin: 0px;">
                        {{event-title event=event}}
                    </h3>
                    <p style="font-size: 10px; margin: 0px; color: #AAA;">{{format-date timestamp}}</p>
                    <p class="truncate" style="font-size: 14px; margin-top: 5px; margin-bottom: 0px;">{{email}}</p>
                {{/link-to}}
            {{/each}}
        {{else}}
            <span href="#" class="list-group-item">
                <h3 style="font-size: 18px; margin-top: 1em; margin-bottom: 1em;">
                    No recent events.
                </h3>
            </span>
        {{/if}}
    </div>
</div>

<div class="panel panel-info events-today" style="margin-top: 25px">
    <div class="panel-heading">
        Total Events In Past 24 Hours
    </div>
    <div class="panel-body" style="overflow-y: auto; height: 275px;">
        <span style="text-align: center">
            <h1 style="font-size: 72px; margin-top: 50px; margin-bottom: 0px;">{{model.today.length}}</h1>
            <h3>
                {{#if model.isPlural}}
                    Events
                {{else}}
                    Event
                {{/if}}
            </h3>
        </span>
    </div>
</div>