<h3>Settings</h3>

<p>
	Auto-delete events after: 
</p>
{{view Ember.Select class="form-control"
	content=autodelete
	optionLabelPath="content.label"
	optionValuePath="content.value"
	prompt="Pick an autodelete time:"
	selection=autodeleteSelectedValue}}
<p>
	<small>
		{{autodeleteSubtext}}
	</small>
</p>

<button {{action 'save'}} class="btn btn-primary">Save Changes</button>

<h3>Users</h3>
<p>
	Pro Tip! You can create a new user that only has "POST" access, which you can then use in your <a href="https://sendgrid.com/app/appSettings/type/eventnotify/id/15" target="_blank">Event Notification app settings</a>.  Credentials that only have "POST" access will only be able to POST new events to your endpoint, and won't be able to log into the UI.
</p>

{{#if loadedUsers}}
	{{#if users}}

		<button class="btn btn-success">New User</button>

		{{#if users.length}}
			<table class="table" style="margin-top: 10px;">
				<thead>
					<tr>
						<th>Username</th>
						<th style="text-align:center;width:150px;">View Access</th>
						<th style="text-align:center;width:150px;">Download Access</th>
						<th style="text-align:center;width:150px;">POST Access</th>
						<th style="text-align:center;width:150px;">Edit Access</th>
						<th style="text-align:right;width:75px;">Settings</th>
					</tr>
				</thead>
				<tbody>
					{{#each user in users}}
						<tr>
							<td>{{user.username}}</td>
							<td style="text-align:center;">
								{{input type="checkbox" checked=user.canView}}
							</td>
							<td style="text-align:center;">
								{{input type="checkbox" checked=user.canDownload}}
							</td>
							<td style="text-align:center;">
								{{input type="checkbox" checked=user.canPost}}
							</td>
							<td style="text-align:center;">
								{{input type="checkbox" checked=user.canEdit}}
							</td>
							<td style="text-align:right;"></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{else}}
			<p>You currently have no users setup.</p>
		{{/if}}
	{{else}}
		You don't have permission to view or edit users.
	{{/if}}
{{else}}
	<p>Loading...</p>
{{/if}}


<button {{action 'save'}} class="btn btn-primary">Save Changes</button>
