<h3>Settings</h3>

<p>
	Auto-delete events after: 
</p>
{{view Ember.Select class="form-control"
	content=autodelete
	optionLabelPath="content.label"
	optionValuePath="content.value"
	prompt="Pick an autodelete time:"
	selection=autodeleteSelectedValue}}
<p>
	<small>
		{{autodeleteSubtext}}
	</small>
</p>

<button {{action 'save'}} {{bind-attr class=":btn :btn-primary editAccessDisabled:disabled"}}>Save Changes</button>

<h3>Users</h3>

{{#if loadedUsers}}
	{{#if users}}

		<p>
			Pro Tip! You can create a new user that only has "POST" access, which you can then use in your <a href="https://sendgrid.com/app/appSettings/type/eventnotify/id/15" target="_blank">Event Notification app settings</a>.  Credentials that only have "POST" access will only be able to POST new events to your endpoint, and won't be able to log into the UI.
		</p>

		{{#if showAddUser}}
			<form class="well" {{action 'addNewUser' on='submit'}}>
				<h4>Add New User</h4>
				<label>Username</label>
				{{input class="form-control" value=newUser.username}}
				<label>Password</label>
				{{input class="form-control" type="password" value=newUser.password}}
				<label>Confirm Password</label>
				{{input class="form-control" type="password" value=newUser.confirmPassword}}
				<p style="margin-top:10px">
					<button class="btn btn-danger" {{action 'toggleAddUser'}}>Cancel</button>
					<input type="submit" {{bind-attr class=":btn :btn-primary newUser.meetsCriteria::disabled"}} value="Add" />
				</p>
			</form>
		{{else}}
			<button class="btn btn-success" {{action 'toggleAddUser'}}>New User</button>
		{{/if}}


		{{#if users.length}}
			<table class="table" style="margin-top: 10px;">
				<thead>
					<tr>
						<th>Username</th>
						<th style="text-align:center;width:75px;">Settings</th>
					</tr>
				</thead>
				<tbody>
					{{#each user in users}}
						<tr>
							<td>{{user.username}}</td>
							<td style="text-align:center;">
								<span class="glyphicon glyphicon-cog" style="cursor:pointer;" {{action 'editUser' user}}></span>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{else}}
			<p>You currently have no users setup.</p>
		{{/if}}

		<p>If you're creating a set of credentials for SendGrid's Event Webhook to POST with, remember to put those credentials in the URL of your Event notification settings like so:</p>

		<span style="text-align:center">
			{{endpoint}}
		</span>

		<p>
			Where <span style="font-family:Courier,monospace;">[username]</span> and <span style="font-family:Courier,monospace;">[password]</span> are replaced with the proper credentials.
		</p>

	{{else}}
		<p>You don't have permission to view or edit users.</p>
	{{/if}}
{{else}}
	<p>Loading...</p>
{{/if}}


